<div class="container-fluid">

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right m-t-20"></div>
			<h4 class="page-title">Authorize</h4>
		</div>
	</div>
	<!-- end page title end breadcrumb -->
		<table ng-if="db" style="width: 100%" border="1"
			class="table table-hover">
					<thead class="thead-dark">
				<tr>
					<th></th>
					<th ng-repeat="role in db.roles">{{role.role_name}}</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="acc in db.accounts">
					<th>{{acc.username}}</th>
					<th ng-repeat="role in db.roles"><input type="checkbox"
						ng-checked="index_of(acc.username, role.role_id)>=0"
						ng-click="update(acc.username,role.role_id)"></th>
				</tr>
			</tbody>
		</table>

	</div>
	

</div>