<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>AdminJ5VA - Restaurant</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="/admin/images/favicon.ico">

<!--Morris Chart CSS -->
<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
<!-- App css -->
<link href="/admin/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="/admin/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="/admin/css/status-style.css" rel="stylesheet"
	type="text/css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
<!--Router-->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<script src="/admin/js/modernizr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<style>
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: Roboto, sans-serif;
}

#chart {
	max-width: 650px;
	margin: 35px auto;
}
</style>
</head>

<body ng-app="admin-app">

	<!-- Navigation Bar-->
	<header id="topnav" ng-conttroller="app-ctrl">
		<div class="topbar-main">
			<div class="container-fluid">

				<!-- Logo container-->
				<div class="logo">
					<a href="index.html" class="logo"> <img
						src="/admin/images/logo.png" alt="" height="34" class="logo-large">
					</a>
				</div>
				<!-- End Logo container-->


				<div class="menu-extras topbar-custom">

					<ul class="list-unstyled topbar-right-menu float-right mb-0">

						<li class="menu-item">
							<!-- Mobile menu toggle--> <a class="navbar-toggle nav-link">
								<div class="lines">
									<span></span> <span></span> <span></span>
								</div>
						</a> <!-- End mobile menu toggle-->
						</li>
						<li class="hide-phone">
							<form class="app-search">
								<input type="text" placeholder="Search..." class="form-control">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</form>
						</li>
						<li>
							<!-- Notification -->
							<div class="notification-box">
								<ul class="list-inline mb-0">
									<li><a href="javascript:void(0);" class="right-bar-toggle">
											<i class="mdi mdi-bell-outline noti-icon"></i>
									</a>
										<div class="noti-dot">
											<span class="dot"></span> <span class="pulse"></span>
										</div></li>
								</ul>
							</div> <!-- End Notification bar -->
						</li>

						<li class="dropdown notification-list"><a
							class="nav-link dropdown-toggle waves-effect waves-light nav-user"
							data-toggle="dropdown" href="#" role="button"
							aria-haspopup="false" aria-expanded="false"> <!-- <img th:src="@{|/assets/img/testimonial/${acc.image}|}" alt="user" class="rounded-circle"> -->
								[[${#request.remoteUser}]]
						</a>
							<div class="dropdown-menu dropdown-menu-right profile-dropdown ">

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="ti-user m-r-5"></i> Profile
								</a>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="ti-settings m-r-5"></i> Settings
								</a>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="ti-lock m-r-5"></i> Lock screen
								</a>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="ti-power-off m-r-5"></i> Logout
								</a>

							</div></li>

					</ul>
				</div>
				<!-- end menu-extras -->

				<div class="clearfix"></div>

			</div>
			<!-- end container -->
		</div>
		<!-- end topbar-main -->

<div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="#!dashboard-ctrl"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span> </a>
                        </li>
                        <li class="has-submenu">
                            <a href="#!product-manager"><i class="fa fa-product-hunt"></i> <span> Shop Manager </span> </a>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="#!product-manager">Product Manager</a></li>
                                        <li><a href="#!size-manager">Size Manager</a></li>
                                        <li><a href="#!category-manager">Category Manager</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
						<li class="has-submenu"><a href="#!account-list"><i
								class="fa fa-user-circle-o"></i><span> Account Manager </span> </a>
						</li>

						<li class="has-submenu"><a href="#!order"><i
								class="fa fa-shopping-basket"></i> <span> Orders Manager
							</span> &nbsp;&nbsp; <span class="badge badge-danger pull-right">{{total}}</span>
						</a></li>

						<li class="has-submenu"><a href="#!authorized"><i
								class="mdi mdi-google-pages"></i><span> Authorized </span> </a></li>


						<li class="has-submenu"><a href="#"><i
								class="mdi mdi-layers"></i><span>Pages</span> </a>
							<ul class="submenu megamenu">
								<li>
									<ul>
										<li><a href="/auth/logoff">Logout</a></li>
										<li><a href="/home/change-pw">Change Password</a></li>
										<li><a href="/home/forgot-pw">Reset Password</a></li>
									</ul>
								</li>
							</ul></li>
					</ul>
					<!-- End navigation menu -->
				</div>
				<!-- end #navigation -->
			</div>
			<!-- end container -->
		</div>
		<!-- end navbar-custom -->
	</header>

	<div class="wrapper">
		<div class="ng-view"></div>
	</div>

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">2016 - 2018 © Adminto.
					Coderthemes.com</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->


	<!-- jQuery  -->
	<script src="/admin/js/jquery.min.js"></script>
	<script src="/admin/js/popper.min.js"></script>
	<script src="/admin/js/bootstrap.min.js"></script>
	<script src="/admin/js/waves.js"></script>
	<script src="/admin/js/jquery.slimscroll.js"></script>


	<script src="/admin/plugins/jquery-knob/jquery.knob.js"></script>

	<!--Morris Chart-->
	<script src="/admin/plugins/morris/morris.min.js"></script>
	<script src="/admin/plugins/raphael/raphael-min.js"></script>

	<!-- Dashboard init -->
	<script src="/admin/pages/jquery.dashboard.js"></script>


  <!-- App js -->
	<script src="/admin/js/jquery.core.js"></script>
	<script src="/admin/js/jquery.app.js"></script>

	<!-- layout JS -->
	<script src="/admin/js/main/admin-app.js"></script>
	<script src="/admin/js/main/home.js"></script>
	<!-- Account JS -->
	<script src="/admin/js/account/account-list.js"></script>
	<script src="/admin/js/account/change-pw.js"></script>
	<script src="/admin/js/account/reset-pw.js"></script>
	<script src="/admin/js/account/authorized.js"></script>
	<!-- Category JS -->
	<script src="/admin/js/category/category-manager.js"></script>
	<!-- Product JS -->
	<script src="/admin/js/product/product-manager.js"></script>
	<!-- Size JS -->
	<script src="/admin/js/size/size-manager.js"></script>
	<!-- Order JS -->
	<script src="/admin/js/order/order.js"></script></body>
</html>



