<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout/header::dynamic(~{::body})}">

<body>

        <div class="content-wrapper">

            <div class="breadcrumb-wrap bg-f br-1">
                <div class="overlay bg-black op-9"></div>
                <img src="/assets/img/shape-1.png" alt="Image" class="br-shape-1">
                <img src="/assets/img/shape-2.png" alt="Image" class="br-shape-2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-title">
                                <h2 th:text=#{breadcrumb.blog.detail}>Blog Details</h2>
                                <ul class="breadcrumb-menu list-style">
                                    <li><a th:href="@{/home}" th:text=#{breadcrumb.home}>Home </a></li>
                                    <li><a th:href="@{/home/blog}" th:text=#{breadcrumb.blog}>Blog </a></li>
                                    <li th:text=#{breadcrumb.blog.detail}>Blog Details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="blog-wrap ptb-100">
                <div class="container">
                    <div class="row gx-5">
                        <div class="col-xl-10 offset-xl-1 col-lg-12">
                            <article class="bg-white">
                                <div class="post-img">
                                    <img src="/assets/img/blog/single-blog.jpg" alt="Image">
                                </div>
                                <ul class="post-metainfo list-style">
                                    <li><a href="blog-details-right-sideabar.html"><i class="lar la-clock"></i>23 Mar,
                                            2021</a></li>
                                    <li><a href="#cmt-form"><i class="lar la-comments"></i>3 Comments</a></li>
                                </ul>
                                <h1 class="post-title">Apple Celebrates 15 Of The Amazing Apps That Inspired The World
                                    2021</h1>
                                <div class="post-para">
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                        et justo duo dolores et ea rebum.</p>
                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        invidunt ut labore et dolore magna aliquyam erat</p>
                                    <h3>Achieve Your Business Goal With Us</h3>
                                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                                        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                        invidunt ut labore et dolore magna aliquyam erat</p>
                                    <blockquote class="wp-block-quote">
                                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cum fuga ab,
                                            eum numquam ea dolores quae takimata sanctus est Lorem ipsum ducimus"</p>
                                        <i class="flaticon-quote-1"></i>
                                    </blockquote>
                                    <h4>Lorem ipsum dolor sit amet.</h4>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                                        no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                                        et justo duo dolores et ea rebum.</p>
                                    <ul class="content-feature-list list-style">
                                        <li><i class="las la-check-circle"></i>Lorem ipsum dolor, sit amet.</li>
                                        <li><i class="las la-check-circle"></i>Amet consectetur adipisicing elit.
                                            Officia, odit!</li>
                                        <li><i class="las la-check-circle"></i>Aquaerat ipsa quis possimus.</li>
                                        <li><i class="las la-check-circle"></i>Lorem, ipsum dolor sit amet consectetur
                                            adipi.</li>
                                        <li><i class="las la-check-circle"></i>Consectetur adipisicing elit.
                                            Voluptatibus, dignissimos.</li>
                                        <li><i class="las la-check-circle"></i>Highly professional administration</li>
                                        <li><i class="las la-check-circle"></i>Lorem ipsum dolor sit.</li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="post-img">
                                                <img src="/assets/img/blog/blog-1.jpg" alt="Image">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="post-img">
                                                <img src="/assets/img/blog/blog-2.jpg" alt="Image">
                                            </div>
                                        </div>
                                    </div>
                                    <h5>What are the Signs?</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad voluptatibus
                                        ratione minima dignissimos exercitationem, dolor eum expedita deleniti
                                        aspernatur aperiam soluta? Dicta optio illum reprehenderit quo suscipit sequi
                                        veritatis. Adipisicing elit. Nihil ad voluptatibus ratione minima dignissimos
                                        exercitationem, dolor eum expedita deleniti aspernatur aperiam soluta</p>
                                </div>
                            </article>
                            <div class="post-meta-option">
                                <div class="row gx-0 align-items-center">
                                    <div class="col-md-12">
                                        <div class="post-tag">
                                            <span>Tags:</span>
                                            <ul class="list-style">
                                                <li><a href="blog-left-sidebar.html">Enterprenour</a>,</li>
                                                <li><a href="blog-left-sidebar.html">Food</a>,</li>
                                                <li><a href="blog-left-sidebar.html">Restaurant</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="post-share w-100">
                                            <span>Share:</span>
                                            <ul class="social-profile style3 list-style">
                                                <li><a target="_blank" href="https://instagram.com/"><i
                                                            class="lab la-instagram"></i></a></li>
                                                <li><a target="_blank" href="https://twitter.com/"><i
                                                            class="lab la-twitter"></i></a></li>
                                                <li><a target="_blank" href="https://www.facebook.com/j5varestaurant"><i
                                                            class="lab la-facebook-f"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                    <img src="/assets/img/blog/author-1.jpg" alt="Image">
                                </div>
                                <div class="post-author-info">
                                    <h4>Jhonathon Miller</h4>
                                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                                        lectorum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi ullam
                                        ea molestias accusamus explicabo qui incidunt voluptatem corporis, blanditiis
                                        odio.</p>
                                    <ul class="social-profile style4 list-style">
                                        <li><a target="_blank" href="https://instagram.com/"><i
                                                    class="lab la-instagram"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/"><i
                                                    class="lab la-twitter"></i></a></li>
                                        <li><a target="_blank" href="https://www.facebook.com/j5varestaurant"><i
                                                    class="lab la-facebook-f"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-navigation">
                                <a href="blog-details-left-sidebar.html" class="prev-post">
                                    <i class="flaticon-back"></i>PREV POST
                                    <span>Standard Post Format</span>
                                </a>
                                <a href="blog-details-no-sidebar.html" class="next-post">
                                    NEXT POST
                                    <span>Video Post Format</span>
                                    <i class="flaticon-right-arrow-angle"></i>
                                </a>
                            </div>
                            <div class="comment-box-wrap post-comment bg-ecru">
                                <div class="row align-items-center">
                                    <div class="col-md-7">
                                        <h4 class="comment-box-title">3 Comments</h4>
                                    </div>
                                    <div class="col-md-5 text-md-end"><a href="#cmt-form" class="btn style1">Leave A
                                            Comment</a></div>
                                </div>
                                <div class="comment-item">
                                    <div class="comment-author-img">
                                        <img src="/assets/img/testimonial/client-1.jpg" alt="mage">
                                    </div>
                                    <div class="comment-author-wrap">
                                        <div class="comment-author-info">
                                            <div class="row align-items-start">
                                                <div class="col-md-8 col-sm-8 col-12 order-md-1 order-sm-1 order-1">
                                                    <div class="comment-author-name">
                                                        <h5>Stefen Bradely</h5>
                                                        <p class="comment-date"><i class="flaticon-wall-clock-1"></i>16
                                                            Mar,
                                                            2021</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-4 col-sm-4 col-12 text-md-end order-md-2 order-sm-2 order-3">
                                                    <a href="#cmt-form" class="reply-btn">Reply</a>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-3 order-2">
                                                    <div class="comment-text">
                                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item reply">
                                    <div class="comment-author-img">
                                        <img src="/assets/img/testimonial/client-2.jpg" alt="mage">
                                    </div>
                                    <div class="comment-author-wrap">
                                        <div class="comment-author-info">
                                            <div class="row align-items-start">
                                                <div class="col-md-8 col-sm-8 col-12 order-md-1 order-sm-1 order-1">
                                                    <div class="comment-author-name">
                                                        <h5>
                                                            Jonathan Miller</h5>
                                                        <p class="comment-date"><i class="flaticon-wall-clock-1"></i>15
                                                            Mar,
                                                            2021</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-4 col-sm-4 col-12 text-md-end order-md-2 order-sm-2 order-3">
                                                    <a href="#cmt-form" class="reply-btn">Reply</a>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-3 order-2">
                                                    <div class="comment-text">
                                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="comment-author-img">
                                        <img src="/assets/img/testimonial/client-3.jpg" alt="mage">
                                    </div>
                                    <div class="comment-author-wrap">
                                        <div class="comment-author-info">
                                            <div class="row align-items-start">
                                                <div class="col-md-8 col-sm-8 col-12 order-md-1 order-sm-1 order-1">
                                                    <div class="comment-author-name">
                                                        <h5>Jhon Conor</h5>
                                                        <p class="comment-date"><i class="flaticon-wall-clock-1"></i>13
                                                            Mar,
                                                            2021</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-4 col-sm-4 col-12 text-md-end order-md-2 order-sm-2 order-3">
                                                    <a href="#cmt-form" class="reply-btn">Reply</a>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-3 order-2">
                                                    <div class="comment-text">
                                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="comment-author-img">
                                        <img src="/assets/img/testimonial/client-4.jpg" alt="mage">
                                    </div>
                                    <div class="comment-author-wrap">
                                        <div class="comment-author-info">
                                            <div class="row align-items-start">
                                                <div class="col-md-8 col-sm-8 col-12 order-md-1 order-sm-1 order-1">
                                                    <div class="comment-author-name">
                                                        <h5>Shon Polok</h5>
                                                        <p class="comment-date"><i class="flaticon-wall-clock-1"></i>8
                                                            Mar,
                                                            2021</p>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-md-4 col-sm-4 col-12 text-md-end order-md-2 order-sm-2 order-3">
                                                    <a href="#cmt-form" class="reply-btn">Reply</a>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-12 order-md-3 order-sm-3 order-2">
                                                    <div class="comment-text">
                                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                                            diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                            aliquyam erat.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cmt-form" class="submit-review-form mt-30 bg-ecru">
                                <h4 class="comment-box-title mb-30">Leave A Reply</h4>
                                <form action="#" class="comment-form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" name="fname" id="fname" placeholder="Full Name"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" placeholder="Email Address"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="url" name="comp_name" id="comp_name"
                                                    placeholder="Company name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="url" name="website" id="website" placeholder="Website">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea name="messages" id="messages" cols="30" rows="10"
                                                    placeholder="Please Enter Your Comment Here"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-md-7">
                                            <div class="checkbox style2">
                                                <input type="checkbox" id="test_1">
                                                <label for="test_1">I agree with your <a class="link style1"
                                                        href="terms-condition.html">terms & condition.</a></label>
                                            </div>
                                        </div>
                                        <div class="col-md-5 text-md-end smt-20">
                                            <button class="btn style1 slide_down">Post A Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
</body>

<!-- Mirrored from templates.hibootstrap.com/caban/default/blog-details-no-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Sep 2021 13:59:46 GMT -->

</html>