<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/header::dynamic(~{::body})}">

<body>
	<div class="breadcrumb-wrap bg-f br-1">
		<div class="overlay bg-black op-9"></div>
		<img src="/assets/img/shape-1.png" alt="Image" class="br-shape-1">
		<img src="/assets/img/shape-2.png" alt="Image" class="br-shape-2">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="breadcrumb-title">
						<h2 th:text=#{breadcrumb.product}>Products</h2>
						<ul class="breadcrumb-menu list-style">
							<li><a th:href="@{/home}" th:text=#{breadcrumb.home}>Home
							</a></li>
							<li th:text=#{breadcrumb.product}>Products</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<section class="Shop-wrap ptb-100">
		<div class="container">
			<div class="row gx-5">
				<div
					class="col-xl-4 col-lg-12 order-xl-1 order-lg-2order-md-2 order-2 ">
					<div class="sidebar">
						<form
							th:action="@{'/home/shop?p=1&search='+ ${search} +'&sort='+ ${sort}}"
							method="GET">
							<input style="display: none;" name="show"
								th:value="${showPageNumber}" />
							<div class="sidebar-widget search-box">
								<h4 th:text=#{product.search}>Search</h4>
								<div class="form-group">
									<input type="text" name="search"
										th:placeholder="#{product.search}" required> <input
										style="display: none;" type="number" name="p"
										placeholder="page">
									<button type="submit">
										<i class="flaticon-search"></i>
									</button>
								</div>
							</div>
						</form>
						<br>
						<div class="sidebar-widget price-range-widget">
							<h4 th:text=#{product.priceFilter}>Price Filter</h4>
							<div class="checkbox-item-wrap">
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_1"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=0&priceEnd=200'}">
												<input style="display: none;" name="priceSt" th:value="0"
												type="checkbox" id="check_1"> <input
												style="display: none;" name="priceEn" th:value="200"
												type="checkbox" id="check_1"> $0-$200
										</a></label>
									</div>
								</div>
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_2"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=200&priceEnd=400'}">
												<input style="display: none;" name="priceSt" th:value="200"
												type="checkbox" id="check_2"> <input
												style="display: none;" name="priceEn" th:value="400"
												type="checkbox" id="check_2"> $200-$400
										</a></label>
									</div>
								</div>
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_3"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=400&priceEnd=600'}">
												<input style="display: none;" name="priceSt" th:value="400"
												type="checkbox" id="check_3"> <input
												style="display: none;" name="priceEn" th:value="600"
												type="checkbox" id="check_3"> $400-$600
										</a></label>
									</div>
								</div>
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_4"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=600&priceEnd=800'}">
												<input style="display: none;" name="priceSt" th:value="600"
												type="checkbox" id="check_4"> <input
												style="display: none;" name="priceEn" th:value="800"
												type="checkbox" id="check_4"> $600-$800
										</a></label>
									</div>
								</div>
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_5"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=800&priceEnd=1000'}">
												<input style="display: none;" name="priceSt" th:value="800"
												type="checkbox" id="check_5"> <input
												style="display: none;" name="priceEn" th:value="1000"
												type="checkbox" id="check_5"> $800-$1000
										</a></label>
									</div>
								</div>
								<div
									class="checkbox-item d-flex justify-content-between align-items-center">
									<div class="checkbox style2">
										<label for="check_5"><a
											th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show='+${showPageNumber}+'&priceSt=1000&priceEnd=1200'}">
												<input style="display: none;" name="priceSt" th:value="1000"
												type="checkbox" id="check_5"> <input
												style="display: none;" name="priceEn" th:value="1200"
												type="checkbox" id="check_5"> $1000-$1200
										</a></label>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar-widget categories">
							<h4 th:text=#{product.category}>Category</h4>
							<div class="category-box">
								<ul class="list-style">
									<li th:each="listCa:${listCate}">
									<a th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show=6'+'&cate='+${listCa.foodcategory_name}}">
											[[${listCa.foodcategory_name}]]<i
											class="flaticon-right-arrow-angle"></i>
									</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget categories">
							<h4 th:text=#{product.size}>Size</h4>
							<div class="category-box">
								<ul class="list-style">
									<li th:each="listSize:${listSize}"><a
										th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show=6'+'&size='+${listSize.name}}">		
											[[${listSize.name}]]<i class="flaticon-right-arrow-angle"></i>
									</a></li>
								</ul>
							</div>
						</div>
						<div class="sidebar-widget new-product">
							<h4 th:text=#{product.selling}>Selling products</h4>

							<div class="new-product-wrap">
								<div th:each="top6:${top6}" class="new-product-item">
									<a th:href="@{|/home/shop-details/${top6.group.food_id}|}"
										class="new-product-img"> 
										<img th:src="@{|/assets/products/${top6.group.photo}|}"
										alt="Image"></a>
									<div class="new-product-info">
										<h6>
											<a th:href="@{|/home/shop-details/${top6.group.food_id}|}">[[${top6.group.food_name}]]</a>
										</h6>
										<div class="price">
											<span>[[${top6.group.price}]]$</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
					<div class="row align-items-center mb-25">
						<div class="col-xl-6 col-lg-5 col-md-4">
							<div class="profuct-result">
								<p>
									<b th:text=#{product.showing}>Showing</b> [[${showPageNumber}]]
									<b th:text=#{product.of}>of</b> [[${count}]] <b
										th:text=#{product.products}>Products</b>
								</p>
							</div>
						</div>


						<div class="col-xl-4 col-lg-4 col-md-4">
							<div class="filter-item-cat">
								<div class="main-menu-wrap">
									<div id="menu">
										<ul class="main-menu list-style">
											<li class="has-children"><a class="shopcart"
												th:text=#{product.sort}>Sort by</a>
												<ul class="sub-menu list-style">
													<li><a class="dropdown-item" th:value="asc"
														th:href="@{'/home/shop?p=1&search='+${search}+'&sort=asc&show=6' + '&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.sort1}>Price: Low High</a></li>
													<li><a class="dropdown-item" th:value="desc"
														th:href="@{'/home/shop?p=1&search='+${search}+'&sort=desc&show=6' + '&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.sort2}>Price: High Low</a></li>
													<li><a class="dropdown-item" th:value="za"
														th:href="@{'/home/shop?p=1&search='+${search}+'&sort=az&show=6' + '&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.sort3}>Name: A - Z</a></li>
													<li><a class="dropdown-item" th:value="az"
														th:href="@{'/home/shop?p=1&search='+${search}+'&sort=za&show=6' + '&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.sort4}>Name: Z - A</a></li>
												</ul></li>
										</ul>
									</div>
								</div>
							</div>
						</div>


						<div class="col-xl-2 col-lg-3 col-md-4">
							<div class="filter-item-cat">
								<div class="main-menu-wrap">
									<div id="menu">
										<ul class="main-menu list-style">
											<li class="has-children"><a class="shopcart"
												th:text=#{product.show}>Show</a>
												<ul class="sub-menu list-style">
													<li><a class="dropdown-item" name="showPageNumber"
														th:value="6"
														th:href="@{'/home/shop?p=1' + '&search='+${search}+'&sort=' + ${sort} + '&show=6'+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.show1}>Show 6</a></li>
													<li><a class="dropdown-item" name="showPageNumber"
														th:value="12"
														th:href="@{'/home/shop?p=1' + '&search='+${search}+'&sort=' + ${sort} + '&show=12'+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.show2}>Show 12</a></li>
													<li><a class="dropdown-item" name="showPageNumber"
														th:value="18"
														th:href="@{'/home/shop?p=1' + '&search='+${search}+'&sort=' + ${sort} + '&show=18'+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.show3}>Show 18</a></li>
													<li><a class="dropdown-item" name="showPageNumber"
														th:value="24"
														th:href="@{'/home/shop?p=1' + '&search='+${search}+'&sort=' + ${sort} + '&show=24'+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
														th:text=#{product.show4}>Show 24</a></li>
												</ul></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div th:each="food:${foods}" class="col-lg-6 col-md-6">
							<div class="feature-card style1">
								<div class="feature-img">
									<img th:src="@{|/assets/products/${food.photo}|}" style="width: 100%; height: 262px" 
										alt="Image">
								</div>
								<div class="feature-info">
									<h3 class="feature-title">
										<a th:href="@{|/home/shop-details/${food.food_id}|}">[[${food.food_name}]]</a>
									</h3>
									<div class="product-more-option-item">
										<div class="col-lg-6 col-md-6 col-12">
											<h6 th:text=#{product.category}>Category:</h6>
											<a
												th:href="@{|/home/shop-details/${food.food_detail.foodCategory.foodcategory_id}|}">
												[[${food.food_detail.foodCategory.foodcategory_name}]]</a>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<h6 th:text=#{product.size}>Size:</h6>
											<a
												th:href="@{|/home/shop-details/${food.food_detail.food_detail_size.size_id}|}">
												[[${food.food_detail.food_detail_size.name}]]</a>
										</div>
									</div>
									<div class="feature-meta">
										<p class="feature-price">[[${food.price}]]$</p>
									</div>
									<div class="row">
										<div class="col-sm-7">
											<button class="btn style2"
												th:attr="ng-click=@{|cart.add(${food.food_id})|}">
												<i class="flaticon-shopping-bag-1"></i><b
													th:text=#{product.addcart}></b>
											</button>
										</div>
										<div class="col-sm-5">
										<a th:href="@{'/home/favorite/'+${food.food_id}}" class="btn style2">
												<i class="bi bi-heart-fill"></i><b
													th:text=#{product.favorite}></b>
										</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="page-navigation">
						<div class="row align-items-center">
							<div
								class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-start text-center smb-20">
								<a th:if="${currentPage > 1}"
									th:href="@{'/home/shop?p=1'+ '&search=' + ${search} +'&sort=' + ${sort} + '&show=' + ${showPageNumber}+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
									class="btn prev" th:text=#{product.first}>First</a> <span
									th:unless="${currentPage > 1}" class="btn prev"
									th:text=#{product.first}>First</span>
							</div>
							<div
								class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center smb-20">
								<ul class="page-nav list-style">
									<li th:each="i: ${#numbers.sequence(1, totalPages)}"><a
										th:if="${i != currentPage}" href="shop-left-sidebar.html"
										th:href="@{'/home/shop?p=' + ${i} + '&search=' + ${search} +'&sort=' + ${sort} + '&show=' + ${showPageNumber}+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}">
											[[${i}]] </a> <a class="active" th:unless="${i != currentPage}">[[${i}]]</a>
									</li>
								</ul>
							</div>
							<div
								class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-end text-center">
								<a th:if="${currentPage < totalPages}"
									th:href="@{'/home/shop?p=' + ${totalPages} + '&search=' + ${search} +'&sort=' + ${sort} + '&show=' + ${showPageNumber}+'&cate='+${cate}+'&size='+${size}+'&priceSt='+${priceSt}+'&priceEnd='+${priceEnd}}"
									class="btn prev" th:text=#{product.last}>Last</a> <span
									th:unless="${currentPage < totalPages}" class="btn prev"
									th:text=#{product.last}>Last</span>
							</div>
						</div>
						<div class="page-navigation">
							<div class="row align-items-center">
								<div
									class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-start text-center smb-20"></div>
								<div
									class="col-xl-6 col-lg-6 col-md-6 col-sm-6 text-center smb-20">
									<div>
										<div class="profuct-result">
											<p>
												<b th:text=#{product.page}>Page</b> [[${currentPage}]] <b
													th:text="#{product.of}">of</b> [[${totalPages}]]
											</p>
										</div>
									</div>
								</div>
								<div
									class="col-xl-3 col-lg-3 col-md-3 col-sm-3 text-sm-start text-center smb-20"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>