<head>

<!-- App favicon -->
<link rel="shortcut icon" href="../layout/assets/images/favicon.ico">

<!-- App css -->
<link href="../layout/assets/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="../layout/assets/css/icons.css" rel="stylesheet"
	type="text/css" />
<link href="../layout/assets/css/style.css" rel="stylesheet"
	type="text/css" />

<script src="../layout/assets/js/modernizr.min.js"></script>

</head>

<div class="container-fluid">

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right m-t-20">
				<button type="button"
					class="btn btn-custom dropdown-toggle waves-effect waves-light"
					data-toggle="dropdown" aria-expanded="false">Settings</button>
				<div class="dropdown-menu dropdown-menu-right">
					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item">Action</a>
					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item">Another
						action</a>
					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item">Something
						else</a>
					<!-- item-->
					<a href="javascript:void(0);" class="dropdown-item">Separated
						link</a>
				</div>
			</div>
			<h4 class="page-title">Cate</h4>
		</div>
	</div>
	<!-- end page title end breadcrumb -->



	<div class="row">
		<div class="col-xl-6">
			<div class="card-box">
				<div class="dropdown pull-right">
					<a href="#" class="dropdown-toggle arrow-none card-drop"
						data-toggle="dropdown" aria-expanded="false"> <i
						class="mdi mdi-dots-vertical"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Action</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Another
							action</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Something
							else</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Separated
							link</a>
					</div>
				</div>

				<h4 class="header-title m-t-0 m-b-30">Horizontal Form</h4>

				<form class="form-horizontal" role="form" data-parsley-validate
					novalidate>
					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-4 col-form-label">Email*</label>
						<div class="col-sm-7">
							<input type="email" required parsley-type="email"
								class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="hori-pass1" class="col-sm-4 col-form-label">Password*</label>
						<div class="col-sm-7">
							<input id="hori-pass1" type="password" placeholder="Password"
								required class="form-control">
						</div>
					</div>
					<div class="form-group row">
						<label for="hori-pass2" class="col-sm-4 col-form-label">Confirm
							Password *</label>
						<div class="col-sm-7">
							<input data-parsley-equalto="#hori-pass1" type="password"
								required placeholder="Password" class="form-control"
								id="hori-pass2">
						</div>
					</div>

					<div class="form-group row">
						<label for="webSite" class="col-sm-4 col-form-label">Web
							Site*</label>
						<div class="col-sm-7">
							<input type="url" required parsley-type="url"
								class="form-control" id="webSite" placeholder="URL">
						</div>
					</div>
					<div class="form-group">
						<div class="offset-sm-4 col-sm-8">
							<div class="checkbox">
								<input id="remember-2" type="checkbox"> <label
									for="remember-2"> Remember me </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="offset-sm-4 col-sm-8">
							<button type="submit"
								class="btn btn-primary waves-effect waves-light">
								Registrer</button>
							<button type="reset"
								class="btn btn-secondary waves-effect waves-light m-l-5">
								Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card-box">
				<div class="dropdown pull-right">
					<a href="#" class="dropdown-toggle arrow-none card-drop"
						data-toggle="dropdown" aria-expanded="false"> <i
						class="mdi mdi-dots-vertical"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Action</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Another
							action</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Something
							else</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item">Separated
							link</a>
					</div>
				</div>
				<h4 class="m-t-0 header-title">Hoverable rows</h4>
				<p class="text-muted font-14 m-b-20">
					Create responsive tables by wrapping any
					<code>.table</code>
					in
					<code>.table-responsive</code>
					to make them scroll horizontally on small devices (under 768px).
				</p>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- end row -->



</div>
<!-- end wrapper -->

<!-- jQuery  -->
<script src="../layout/assets/js/jquery.min.js"></script>
<script src="../layout/assets/js/popper.min.js"></script>
<script src="../layout/assets/js/bootstrap.min.js"></script>
<script src="../layout/assets/js/waves.js"></script>
<script src="../layout/assets/js/jquery.slimscroll.js"></script>

<!-- App js -->
<script src="../layout/assets/js/jquery.core.js"></script>
<script src="../layout/assets/js/jquery.app.js"></script>
