<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/swiper-min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-right m-t-20"></div>
			<h4 class="page-title">Food Manager</h4>
		</div>
	</div>
	<ul class="nav nav-tabs" style="letter-spacing: 2px;">
		<li ng-class="{active:isActiveTab(1)}" ><a href="" ng-click="changeTab(1)">Product
				List</a></li>
		<li ng-class="{active:isActiveTab(2)}" ><a href="" ng-click="changeTab(2)">Edit Product</a></li>
	</ul>
	<div class="tab-content">
		<div ng-show="current_tab == 1">
			<div class="row">
				<div class="col-12">
					<div class="card-box table-responsive">
						<table id="datatable" class="table table-bordered">
							<thead>
								<tr>
									<th>Food Id</th>
									<th>Food Name</th>
									<th>Price</th>
									<th>Description</th>
									<th>Category</th>
									<th>Size</th>
									<th>Status</th>
									<th>#</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="food in pager.foods">
									<td>{{food.food_id}}</td>
									<td>{{food.food.food_name}}</td>
									<td>{{food.food.price}}</td>
									<td>{{food.description}}</td>
									<td>{{food.foodCategory.foodcategory_name}}</td>
									<td>{{food.food_detail_size.name}}</td>
									<td>{{food.status ? 'Stocking' : 'Out of stock'}}</td>
									<td><a href="" ng-click="changeTab(2);edit(food)"><i
											class="fa fa-edit"></i></a> &nbsp;&nbsp; <a href=""
										ng-click="delete(food)"> <i class="fa fa-trash"></i></a></td>
										

								</tr>
							</tbody>
						</table> <hr>
						<div class="panel-footer text-center">
							<button ng-click="pager.first()" class="btn btn-danger">
								<b class="ti-control-skip-backward"></b>
							</button>
							<button ng-click="pager.prev()" class="btn btn-primary">
								<b class="ti-control-backward"></b>
							</button>
							<button class="btn btn-success">{{pager.page + 1 }} of
								{{pager.count}}</button>
							<button ng-click="pager.next()" class="btn btn-primary">
								<b class="ti-control-forward"></b>
							</button>
							<button ng-click="pager.last()" class="btn btn-danger">
								<b class="ti-control-skip-forward"></b>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="current_tab == 2">
			<label>Food Image</label>
			<div class="row">
			<div class="col-lg-6">
                     <div class="swiper-container mySwiper2 single-product-slider">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
                                <label for="image">
									<img ng-src="{{'/assets/products/'+ form.food.photo}}" style="width: 680px; height: 350px" title="Click here to choose food image"> 
								</label>
                             </div>
                             <div class="swiper-slide">
                                 <label for="image1">
									<img ng-src="{{'/assets/products/'+ form.image_title1}}" style="width: 680px; height: 350px" class="img-fluid" title="Click here to choose food image">
								</label>
                             </div>
                             <div class="swiper-slide">
                                 <label for="image2">
									<img ng-src="{{'/assets/products/'+ form.image_title2}}" style="width: 680px; height: 350px" class="img-fluid" title="Click here to choose food image">
								</label>
                             </div>
                         </div>
                     </div>
                     <div class="swiper-container mySwiper single-product-thumbs">
                         <div class="swiper-wrapper">
                             <div class="swiper-slide">
									<img src="/assets/products/{{form.food.photo}}" style="width: 100%; height: 140px"> 
                             </div>
                             <div class="swiper-slide">
									<img src="/assets/products/{{form.image_title1}}" style="width: 100%; height: 140px">
                             </div>
                             <div class="swiper-slide">                               
									<img src="/assets/products/{{form.image_title2}}" style="width: 100%; height: 140px">
                             </div>
                         </div>
                         <div class="product-slider-next slider-btn style2">
                         	<i class="ti-control-forward"></i>
                         </div>
                         <div class="product-slider-prev slider-btn style2">
                         	<i class="ti-control-backward"></i>
                         </div>
                     </div>
                 </div>
				
				<input hidden="true" type="file" class="form-control" id="image"
									onchange="angular.element(this).scope().imageFoodChange(this.files)">
				<input hidden="true" type="file" class="form-control" id="image1"
									onchange="angular.element(this).scope().imageFoodDetail1(this.files)">
				<input hidden="true" type="file" class="form-control" id="image2"
									onchange="angular.element(this).scope().imageFoodDetail2(this.files)">					

				<div class="col-xl-6">
					<div class="card-box">
						<div class="dropdown pull-right"></div>
						<form class="form-horizontal" role="form" data-parsley-validate
							novalidate>
							<div class="form-group row">
								<label for="foodid" class="col-sm-2 col-form-label">Food
									Id*</label>
								<div class="col-sm-10">
									<input type="text" readonly="readonly"  class="form-control"  id="foodid"
										ng-model="form.food_id"  placeholder="Food Id">
										<input type="hidden" ng-model="form.food.food_id">
										<p></p>
								</div>
							</div>
							<div class="form-group row">
								<label for="foodname" class="col-sm-2 col-form-label">
									Name*</label>
								<div class="col-sm-10">
									<input type="text" required class="form-control" id="foodname"
										placeholder="Food Name" ng-model="form.food.food_name">
								</div>
							</div>
							<div class="form-group row">
								<label for="price" class="col-sm-2 col-form-label">Price
									*</label>
								<div class="col-sm-10">
									<input type="number" required class="form-control" id="price"
										ng-model="form.food.price" placeholder="Price">
								</div>
							</div>
							<div class="form-group row">
								<label for="status" class="col-sm-2 col-form-label">Status</label>
								<div class="col-sm-10">
									<div class="radio radio-success">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<input type="radio" name="radio" id="radio1" value="success"
											ng-model="form.status" ng-value="true" checked> <label
											for="radio1"> Stocking </label>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
											<input type="radio"
											name="radio" id="radio2" value="info" ng-model="form.status"
											ng-value="false"> <label for="radio2"> Out of
											stock </label>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="cate" class="col-sm-2 col-form-label">Category</label>
								<div class="col-sm-10">
									<select style="height: 100%" ng-model="form.foodCategory.foodcategory_id"
										class="form-control">
										<option ng-repeat="c in cates" ng-value="c.foodcategory_id">{{c.foodcategory_name}}</option>
									</select>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="size" class="col-sm-2 col-form-label">Size</label>
								<div class="col-sm-10">
									<select style="height: 100%" ng-model="form.food_detail_size.size_id"
										class="form-control">
										<option ng-repeat="s in sizes" ng-value="s.size_id">{{s.name}}</option>
									</select>
								</div>
							</div>
							<br>
							
							<div class="form-group row">
								<label for="description" class="col-sm-2 col-form-label">Description</label>
								<div class="col-sm-10">
									<textarea rows="7" class="form-control"
										ng-model="form.description" id="description"
										placeholder="Description"></textarea>
								</div>
							</div>
							<br>
							
								<div class="form-group">
									<div class="row">
										<div class="col-sm-2"></div>
										<div class="col-sm-10">
											<button type="submit" 
												ng-click="create()"
												class="btn btn-primary btn-rounded waves-effect waves-light">
												<i class="fa fa-plus-square"></i> Add
											</button>
											<button type="submit" ng-disabled="!form.food_id"
												ng-click="update(food)"
												class="btn btn-warning btn-rounded waves-effect waves-light">
												<i class="fa fa-edit"></i> Update
											</button>
											<button type="submit" ng-disabled="!form.food_id"
												ng-click="delete(form)"
												class="btn btn-danger btn-rounded waves-effect waves-light">
												<i class="fa fa-trash"></i> Delete
											</button>
											<button type="button" ng-click="reset()"
												class="btn btn-secondary btn-rounded waves-effect waves-light m-l-5">
												<i class="fa fa-refresh"></i> Reset
											</button>
										</div>
									</div>
								</div>							
						</form>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
	</div>
</div>
	<script src="/assets/js/jquery.appear.js"></script>
	<script src="/assets/js/swiper-min.js"></script>
	<script src="/assets/js/main.js"></script>