<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<style>
            a:hover{text-decoration: none;}
        </style>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" data-target="#pending" href="">Pending</a></li>
	<li><a data-toggle="tab" data-target="#ready" href="">Ready</a></li>
	<li><a data-toggle="tab" data-target="#shipping" href="">Shipping</a></li>
	<li><a data-toggle="tab" data-target="#delivered" href="">Delivered</a></li>
	<li><a data-toggle="tab" data-target="#cancelled" href="">Cancelled</a></li>
</ul>
<div class="tab-content">
	<div id="pending" class="tab-pane fade in active">
		<h1>#pending</h1>
	</div>
	<div id="ready" class="tab-pane fade">
		<h1>#readyo</h1>
	</div>
	<div id="shipping" class="tab-pane fade">
		<h1>#shippings</h1>
	</div>
	<div id="delivered" class="tab-pane fade">
		<h1>#elivered</h1>
	</div>
	<div id="cancelled" class="tab-pane fade">
		<h1>#Cancelled</h1>
	</div>
</div>