<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<ul class="nav nav-tabs" style="letter-spacing: 2px;">
	<li class="active"><a data-toggle="tab" data-target="#all" href="">All</a></li>
	<li><a data-toggle="tab" data-target="#pending" href="" style="color:purple" ng-click="pending()">Pending</a></li>
	<li><a data-toggle="tab" data-target="#ready" href="" style="color:cyan;" ng-click="ready()">Ready</a></li>
	<li><a data-toggle="tab" data-target="#shipping" href="" style="color:blue;" ng-click="shipping()">Shipping</a></li>
	<li><a data-toggle="tab" data-target="#delivered" href="" style="color:green;" ng-click="delivered()">Delivered</a></li>
	<li><a data-toggle="tab" data-target="#cancelled" href="" style="color:red;" ng-click="cancelled()">Cancelled</a></li>
	<li><a data-toggle="tab" data-target="#detail" href=""style="color:#03fcba;">Detail order</a></li>
</ul>
<div class="tab-content">
	<div id="all" class="tab-pane fade in active">
		<div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>OrderID</th>
                                    <th>Order Date</th>                                   
                                    <th>Name customer</th>
                                    <th>Phone number</th>
                                    <th>Delivery Address</th>
                                    <th>Note</th>
                                    <th>Status</th>
                                    <th>Change Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>


                            <tbody>
                               <tr ng-repeat="order in pager.orders | orderBy:'- order_id'">
                                    <td>{{order.order_id}}</td>
                                    <td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>                                    
                                    <td>{{order.custo.fullname}}</td>
                                    <td>{{order.custo.phone_No}}</td>
                                    <td>{{order.address}}</td>
                                    <td>{{order.note}}</td>
                                    <td>   <ANY ng-switch={{order.status}}>
									        <ANY ng-switch-when="1"> <b style="color:purple">Pending</b> </ANY>
									        <ANY ng-switch-when="2"> <b style="color:cyan;">Ready</b></ANY>
									        <ANY ng-switch-when="3"> <b style="color:blue;">Shipping</b></ANY>
									        <ANY ng-switch-when="4"> <b style="color:green;">Delivered</b></ANY>
									        <ANY ng-switch-when="5"> <b style="color:red;">Cancelled</b></ANY>
									        <ANY ng-switch-default> <b style="color:purple;">New order</b></ANY>
									      </ANY>
									 </td>
									 <td>
									 	<select ng-model="form.status" ng-focus="edit(order)" class="custom-select">
	                                        <option value="1">Pending</option>
	                                        <option value="2">Ready</option>
	                                        <option value="3">Shipping</option>
	                                        <option value="4">Delivered</option>
	                                        <option value="5">Cancelled</option>
	                                    </select>
									 </td>
                                    <td>
                                    	<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
                                    	<button class="btn btn-primary ti-save" ng-click="update()"></button>
                                    	<button class="btn btn-danger ti-trash" ng-click="delete(order)" "></button>
                                    </td>
                                </tr>                              
                            </tbody>
                        </table>
                        <input type="hidden" ng-model="form.order_id">
                        <input type="hidden" ng-model="form.orderdate">
                        <input type="hidden" ng-model="form.discount">
                        <input type="hidden" ng-model="form.address">
                        <input type="hidden" ng-model="form.note">
                        <input type="hidden" ng-model="form.custo.username_custo">
                        
                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

   		   <div class="panel-footer text-center">
				<button ng-click="pager.first()" class="btn btn-danger">
					<b class="ti-control-skip-backward"></b>
				</button>
				<button ng-click="pager.prev()" class="btn btn-primary">
					<b class="ti-control-backward"></b>
				</button>
				<button class="btn btn-success">{{pager.page + 1 }} of {{pager.count}}</button>
				<button ng-click="pager.next()" class="btn btn-primary">
					<b class="ti-control-forward"></b>
				</button>
				<button ng-click="pager.last()" class="btn btn-danger">
					<b class="ti-control-skip-forward"></b>
				</button>
			</div> <br>
	</div>
	<div id="pending" class="tab-pane fade">
		<table id="datatable" class="table table-bordered">
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Name customer</th>
					<th>Phone number</th>
					<th>Delivery Address</th>
					<th>Note</th>
					<th>Status</th>
					<th>Change Status</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in pendings">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
					<td><ANY ng-switch={{order.status}}> <ANY
							ng-switch-when="1"> <b style="color: purple">Pending</b> </ANY> <ANY
							ng-switch-when="2"> <b style="color: cyan;">Ready</b></ANY> <ANY
							ng-switch-when="3"> <b style="color: blue;">Shipping</b></ANY> <ANY
							ng-switch-when="4"> <b style="color: green;">Delivered</b></ANY>
						<ANY ng-switch-when="5"> <b style="color: red;">Cancelled</b></ANY>
						<ANY ng-switch-default> <b style="color: purple;">New
							order</b></ANY> </ANY></td>
					<td><select ng-model="form.status" ng-focus="edit(order)"
						class="custom-select">
							<option value="1">Pending</option>
							<option value="2">Ready</option>
							<option value="3">Shipping</option>
							<option value="4">Delivered</option>
							<option value="5">Cancelled</option>
					</select></td>
					<td>
						<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
						<button class="btn btn-primary ti-save" ng-click="update()"></button>
						<button class="btn btn-danger ti-trash" ng-click="delete(order)""></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="ready" class="tab-pane fade">
			<table id="datatable" class="table table-bordered">
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Name customer</th>
					<th>Phone number</th>
					<th>Delivery Address</th>
					<th>Note</th>
					<th>Status</th>
					<th>Change Status</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in readys">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
					<td><ANY ng-switch={{order.status}}> <ANY
							ng-switch-when="1"> <b style="color: purple">Pending</b> </ANY> <ANY
							ng-switch-when="2"> <b style="color: cyan;">Ready</b></ANY> <ANY
							ng-switch-when="3"> <b style="color: blue;">Shipping</b></ANY> <ANY
							ng-switch-when="4"> <b style="color: green;">Delivered</b></ANY>
						<ANY ng-switch-when="5"> <b style="color: red;">Cancelled</b></ANY>
						<ANY ng-switch-default> <b style="color: purple;">New
							order</b></ANY> </ANY></td>
					<td><select ng-model="form.status" ng-focus="edit(order)"
						class="custom-select">
							<option value="1">Pending</option>
							<option value="2">Ready</option>
							<option value="3">Shipping</option>
							<option value="4">Delivered</option>
							<option value="5">Cancelled</option>
					</select></td>
					<td>
						<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
						<button class="btn btn-primary ti-save" ng-click="update()"></button>
						<button class="btn btn-danger ti-trash" ng-click="delete(order)""></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="shipping" class="tab-pane fade">
			<table id="datatable" class="table table-bordered">
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Name customer</th>
					<th>Phone number</th>
					<th>Delivery Address</th>
					<th>Note</th>
					<th>Status</th>
					<th>Change Status</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in shippings">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
					<td><ANY ng-switch={{order.status}}> <ANY
							ng-switch-when="1"> <b style="color: purple">Pending</b> </ANY> <ANY
							ng-switch-when="2"> <b style="color: cyan;">Ready</b></ANY> <ANY
							ng-switch-when="3"> <b style="color: blue;">Shipping</b></ANY> <ANY
							ng-switch-when="4"> <b style="color: green;">Delivered</b></ANY>
						<ANY ng-switch-when="5"> <b style="color: red;">Cancelled</b></ANY>
						<ANY ng-switch-default> <b style="color: purple;">New
							order</b></ANY> </ANY></td>
					<td><select ng-model="form.status" ng-focus="edit(order)"
						class="custom-select">
							<option value="1">Pending</option>
							<option value="2">Ready</option>
							<option value="3">Shipping</option>
							<option value="4">Delivered</option>
							<option value="5">Cancelled</option>
					</select></td>
					<td>
						<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
						<button class="btn btn-primary ti-save" ng-click="update()"></button>
						<button class="btn btn-danger ti-trash" ng-click="delete(order)""></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="delivered" class="tab-pane fade">
			<table id="datatable" class="table table-bordered">
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Name customer</th>
					<th>Phone number</th>
					<th>Delivery Address</th>
					<th>Note</th>
					<th>Status</th>
					<th>Change Status</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in delivereds">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
					<td><ANY ng-switch={{order.status}}> <ANY
							ng-switch-when="1"> <b style="color: purple">Pending</b> </ANY> <ANY
							ng-switch-when="2"> <b style="color: cyan;">Ready</b></ANY> <ANY
							ng-switch-when="3"> <b style="color: blue;">Shipping</b></ANY> <ANY
							ng-switch-when="4"> <b style="color: green;">Delivered</b></ANY>
						<ANY ng-switch-when="5"> <b style="color: red;">Cancelled</b></ANY>
						<ANY ng-switch-default> <b style="color: purple;">New
							order</b></ANY> </ANY></td>
					<td><select ng-model="form.status" ng-focus="edit(order)"
						class="custom-select">
							<option value="1">Pending</option>
							<option value="2">Ready</option>
							<option value="3">Shipping</option>
							<option value="4">Delivered</option>
							<option value="5">Cancelled</option>
					</select></td>
					<td>
						<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
						<button class="btn btn-primary ti-save" ng-click="update()"></button>
						<button class="btn btn-danger ti-trash" ng-click="delete(order)""></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="cancelled" class="tab-pane fade">
			<table id="datatable" class="table table-bordered">
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Name customer</th>
					<th>Phone number</th>
					<th>Delivery Address</th>
					<th>Note</th>
					<th>Status</th>
					<th>Change Status</th>
					<th>Actions</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in cancelleds">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
					<td><ANY ng-switch={{order.status}}> <ANY
							ng-switch-when="1"> <b style="color: purple">Pending</b> </ANY> <ANY
							ng-switch-when="2"> <b style="color: cyan;">Ready</b></ANY> <ANY
							ng-switch-when="3"> <b style="color: blue;">Shipping</b></ANY> <ANY
							ng-switch-when="4"> <b style="color: green;">Delivered</b></ANY>
						<ANY ng-switch-when="5"> <b style="color: red;">Cancelled</b></ANY>
						<ANY ng-switch-default> <b style="color: purple;">New
							order</b></ANY> </ANY></td>
					<td><select ng-model="form.status" ng-focus="edit(order)"
						class="custom-select">
							<option value="1">Pending</option>
							<option value="2">Ready</option>
							<option value="3">Shipping</option>
							<option value="4">Delivered</option>
							<option value="5">Cancelled</option>
					</select></td>
					<td>
						<button ng-click="edit(order)" class="btn btn-warning ti-eye"></button>
						<button class="btn btn-primary ti-save" ng-click="update()"></button>
						<button class="btn btn-danger ti-trash" ng-click="delete(order)""></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="detail" class="tab-pane fade">
		<table id="datatable" class="table table-bordered">
		<h1>Order</h1>
			<thead>
				<tr>
					<th>OrderID</th>
					<th>Order Date</th>
					<th>Discount</th>
					<th>Status</th>
					<th>Delivery Address</th>
					<th>Note</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.order_id}}</td>
					<td>{{order.orderdate | date:'MM/dd/yyyy'}}</td>
					<td>{{order.discount}}</td>
					<td>{{order.status}}</td>
					<td>{{order.address}}</td>
					<td>{{order.note}}</td>
				</tr>
			</tbody>
		</table>
		
		<!-- <table id="datatable" class="table table-bordered">
		<h1>OrderDetails</h1>
			<thead>
				<tr>
					<th>OrderdetailID</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Food Name</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.custo.orderDetails.quantity}}</td>
					<td>{{order.orderDetails.price}}</td>
					<td>{{order.orderDetails.quantity}}</td>
					<td>{{order.orderDetails.quantity}}</td>
				</tr>
			</tbody>
		</table> -->
		
		<table id="datatable" class="table table-bordered">
		<h1>Customer</h1>
			<thead>
				<tr>
					<th>CustomerID</th>
					<th>Full name</th>
					<th>Phone Number</th>
					<th>Email</th>
				</tr>
			</thead>


			<tbody>
				<tr ng-repeat="order in orders">
					<td>{{order.custo.username_custo}}</td>
					<td>{{order.custo.fullname}}</td>
					<td>{{order.custo.phone_No}}</td>
					<td>{{order.custo.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>