.pending{
	color: #ffc61a;
}
.ready{
	color: #333399;
}
.shipping{
	color: #990099;
}
.delivered{
	color:#33cc33;
}
.cancelled{
	color: #cc0000;
}


li>a>.pending{
	color: #ffc61a;
}
li>a>.ready{
	color: #333399;
}
li>a>.shipping{
	color: #990099;
}
li>a>.delivered{
	color: #33cc33;
}
li>a>.cancelled{
	color: #cc0000;
}
.btn[disabled].btn{cursor:not-allowed};