<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/header::dynamic(~{::body})}">

<body>
	<div class="content-wrapper">
		<div class="breadcrumb-wrap bg-f br-1">
			<div class="overlay bg-black op-9"></div>
			<img src="/assets/img/shape-1.png" alt="Image" class="br-shape-1">
			<img src="/assets/img/shape-2.png" alt="Image" class="br-shape-2">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-title">
							<h2>Order Detail</h2>
							<ul class="breadcrumb-menu list-style">
								<li><a th:href="@{/home}">Home </a></li>
								<li>Order Detail</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="checkout-wrap ptb-100">
			<div class="container">
				<div th:object="${order}">
					<div class="row">
						<div class="col-lg-12">
							<div
								class="d-flex flex-wrap align-items-center justify-content-between mb-3">
							</div>
						</div>
						<div class="col-lg-12 mb-3">
							<div class="d-flex justify-content-between align-items-center">
								<a class="btn btn-primary btn-sm"
									th:href="@{/home/order/listorder}"> <svg
										xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20"
										fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        			<path stroke-linecap="round"
											stroke-linejoin="round" stroke-width="2"
											d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                        </svg> Generate Invoice
								</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="card">
								<ul class="list-group list-group-flush">
									<li class="list-group-item p-3">
										<h5 th:text=#{info.title} class="font-weight-bold pb-2">Thông Tin Đơn Hàng</h5>
										<div class="table-responsive">
											<table class="table table-borderless mb-0">
												<tbody>
													<tr class="white-space-no-wrap">
														<td th:text=#{info.id} class="text-muted pl-0 col-4">ID</td>
														<td>[[*{order_id}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{info.datetime} class="text-muted pl-0 col-4">Ngày giờ</td>
														<td>[[*{orderdate}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{info.payment} class="text-muted pl-0 col-4">Thanh toán</td>
														<td>Credit Card"</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{info.status} class="text-muted pl-0 col-4">Trạng thái</td>
														<td class="text-muted pl-0"style="width: 300px;">
															<p th:if="${order.status} == 1" class=" font-weight-bold" style="color: #ffc61a;">
																<strong>Chờ xác nhận</strong>
															</p>

															<p th:if="${order.status} == 2" class=" font-weight-bold" style="color: #333399;">
																<strong>Chờ nhận hàng</strong>
															</p>

															<p th:if="${order.status} == 3" class=" font-weight-bold" style="color: #990099;">
																<strong>Đang giao</strong>
															</p>

															<p th:if="${order.status} == 4" class=" font-weight-bold" style="color: #33cc33;">
																<strong>Đã nhận hàng</strong>
															</p>

															<p th:if="${order.status} == 5" class=" font-weight-bold" style="color: #cc0000;">
																<strong>Đã hủy đơn </strong>
															</p>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</li>
									<li class="list-group-item p-3">
										<h5 th:text=#{cust.title} class="font-weight-bold pb-2">Chi Tiết Khách Hàng</h5>
										<div class="table-responsive">
											<table class="table table-borderless mb-0">
												<tbody>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.username} class="text-muted pl-0">Tài khoản</td>
														<td>[[${#request.remoteUser}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.fullname} class="text-muted pl-0">Họ tên</td>
														<td>[[*{order_acc.fullname}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.email} class="text-muted pl-0">Email</td>
														<td>[[*{order_acc.email}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.phone} class="text-muted pl-0">SĐT</td>
														<td>[[*{order_acc.phone}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.address} class="text-muted pl-0">Địa chỉ</td>
														<td>[[*{address}]]</td>
													</tr>
													<tr class="white-space-no-wrap">
														<td th:text=#{cust.note} class="text-muted pl-0">Ghi chú</td>
														<td>[[*{note}]]</td>
													</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="card">
								<ul class="list-group list-group-flush">
									<li class="list-group-item p-3">
										<h5 th:text=#{prod.title} class="font-weight-bold">Sản Phẩm Đã Đặt</h5>
									</li>
									<li class="list-group-item p-0">
										<div class="table-responsive">
											<table class="table mb-0">
												<thead>
													<tr class="text-muted">
														<th th:text=#{prod.image} width="30%">Sản phẩm</th>
														<th th:text=#{prod.name} width="25%">Tên sản phẩm</th>
														<th th:text=#{prod.qty} width="15%">Số lượng</th>
														<th th:text=#{prod.price} width="15%">Giá</th>
														<th th:text=#{prod.total} width="15%">Tổng</th>
													</tr>
												</thead>
												<tbody>
													<tr style="height: 150px" th:each="detail: *{orderDetails}"
														th:object="${detail}">
														<td width="30%" style="vertical-align: middle"><img
															style="width: 80%" class="avatar rounded"
															th:src="@{|/assets/img/feature/*{food.photo}|}"></td>
														<td width="25%" style="vertical-align: middle">
															<div class="">
																<div class="data-content">
																	<div>
																		<span class="font-weight-bold">[[*{food.food_name}]]</span>
																	</div>
																</div>
															</div>
														</td>
														<td class="text-right" width="15%"
															style="vertical-align: middle">[[*{quantity}]]</td>
														<td class="text-right" width="15%"
															style="vertical-align: middle">
															$[[*{#numbers.formatDecimal(price,0,'COMMA',0,'POINT')}]]
														</td>
														<td width="15%" style="vertical-align: middle">
															$[[*{#numbers.formatDecimal(price*quantity,0,'COMMA',0,'POINT')}]]
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>